@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">错误.</h1>
<h2 class="text-danger">处理您的请求时出错。</h2>

<h3>开发模式</h3>
<p>
    换到 <strong>发展</strong> 环境将显示有关发生的错误的更详细信息.
</p>
<p>
    <strong>在部署的应用程序中不应启用开发环境</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
</p>
