@model jiffy0705.Models.电影

@{
    ViewData["Title"] = "Create";
}

<h2>创建新的</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>电影</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="名字" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="名字" class="form-control" />
                <span asp-validation-for="名字" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="分类" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="分类" class="form-control" />
                <span asp-validation-for="分类" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="发布时间" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="发布时间" class="form-control" />
                <span asp-validation-for="发布时间" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
