@model IndexViewModel
@{
    ViewData["Title"] = "管理您的帐户";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>更改帐户设置</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>密码:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">更改</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">创建</a>
            }
        </dd>
        <dt>外部登录:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">管理</a>
        </dd>
        <dt>电话号码:</dt>
        <dd>
            <p>                在双因素身份验证中, 电话号码可以用作验证的第二个因素。
                请参见 <a href="https://go.microsoft.com/fwlink/？LinkID=532713"> 本文 </a>
                有关设置此 ASP.NET 应用程序以支持使用 sms 进行双因素身份验证的详细信息。
            </p>
            @*@(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Change</a>
                    <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                        [<button type="submit" class="btn-link">Remove</button>]
                    </form>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Add</a>
                }*@
        </dd>

        <dt>双因素身份验证:</dt>
        <dd>
            <p>                没有配置双因素身份验证提供程序。请参见 <a href="https://go.microsoft.com/fwlink/？LinkID=532713"> 本文 </a>
                用于设置此应用程序以支持双因素身份验证。
            </p>
            @*@if (Model.TwoFactor)
                {
                    <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
                        Enabled <button type="submit" class="btn-link btn-bracketed">Disable</button>
                    </form>
                }
                else
                {
                    <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
                        <button type="submit" class="btn-link btn-bracketed">Enable</button> Disabled
                    </form>
                }*@
        </dd>
    </dl>
</div>
