@{
    ViewData["Title"] = "联系方式";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
  
    <br />
    <abbr title="电话">电话:</abbr>
    425.555.0100
</address>

<address>
    <strong>邮箱:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    
</address>
